*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    width: 100%;

}

.ul__menu {
    display: flex;
    gap: 66px;
    padding-right: 159px;
    font-family: "Montserrat-SemiBold";
    color: var(--color-1);


    li{
        list-style: none;
    }
}

.divlogo{
    top: 5px;
    left: 5px;
}

.section__home {
    background-image: linear-gradient(#376e4072, #071917d5), url("../storage/img/FondoPlaneta.jpg");
    background-image: linear-gradient(var(--color-2), var(--color-3)100%), var(--banner-1);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 140svh;


}
.article__home {
    width: 626px;
    height: 360px;
    position: relative;
    left: 22svw;
    top: 47svh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-1);
}

.article__home span {
    font-size: 28px;
    font-family: "Montserrat-Medium";
}
.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-Medium";
}

.article__home p {
    width: 340px;
    font-family: "Montserrat-SemiBold";
}

